table,
td {
  border-collapse: collapse;
}
th {
  text-align: left;
  background-color: black;
  color: white;
  width: 30%;
}
.blackTextBox {
  background-color: black;
  color: rgb(196, 196, 196);
  width: fit-content;
}
.rightItem {
  align-self: center;
  margin-left: 1000;
}
.bigTable {
  min-width: 700px;
  max-width: 1000px;
}
.smallTable {
  min-width: 200px;
}
.trBorder {
  border-bottom: 1px solid black;
}