h1 {
  animation: slide 1.5s ease-in-out forwards;
}
h1:hover{
  animation: slide 1.5s forwards,    colorshifts 1.5s  forwards;
}
table,
td {
  border-collapse: collapse;
  width: 30%;
}

th {
  text-align: left;
  background-color: black;
  color: white;
  width: 30%;
}

tr {
  border-bottom: 1px solid black;
}
.blackTextBox {
  background-color: black;
  color: rgb(196, 196, 196);
  width: fit-content;
  animation: slide 1.5s forwards,   colorshifts 1.5s  forwards;
}
/* testing css */
@keyframes slide {
  0% {
    margin-left: 0;
  }
  80% {
    margin-left: 200px;
  }
  100% {
    margin-left: 0px;
  }
}
@keyframes bounce {
  0% {
    margin-top: 0;
  }
  20% {
    margin-top: 50px;
  }
  40% {
    margin-top: 500px;
  }
  60% {
    margin-top: 50px;
  }
  80% {
    margin-top: 500px;
  }
  100% {
    margin-top: 50px;
  }
}
@keyframes colorshifts {
  0% {
    color: black;
  }
  20% {
    color: blue;
  }
  40% {
    color: green;
  }
  60% {
    color: yellow;
  }
  80% {
    color: red;
  }
  100% {
    color: white;
  }
}
.rightItem {
  align-self: center;
  margin-left: 1000;
}
table {
  min-width: 700px;
}
